* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
}

hr {
  display: inline-block;
  width: 40px;
  border: none;
  background-color: black;
  height: 3px;
}

.align-center,
.section5 {
  text-align: center;
}

.testimonial hr {
  background-color: #fff;
}
.container,
.nav {
  width: 70%;
  margin: 0 auto;
}
.section5 {
  width: 60%;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em auto;
  flex-wrap: wrap;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.active {
  display: none;
}

.nav-link {
  color: #1f1534;
  text-align: center;
  width: 300px;
  margin-top: 1em;

  &:hover {
    opacity: 1;
  }
}

.container,
.nav {
  padding-top: 3em;
  padding-bottom: 3em;
}

.section1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.section-text {
  max-width: 40ch;

  h1 {
    margin-top: 0;
  }
}

.image {
  max-width: 650px;
  height: auto;
}
.consult {
  background-color: #458ff6;
  border-radius: 55px;
  width: 200px;

  border: none;
  color: #fff;
  line-height: 50px;
}

.learn,
.download {
  display: block;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  width: 200px;
  color: #458ff6;
  line-height: 50px;
  margin: auto;
  font-size: inherit;
  margin-top: 4em;
  background-color: transparent;
}

.download,
.section3 .learn {
  display: inline;
  margin-top: 2em;
}

.text {
  color: #7d7987;
}

.chart {
  padding-top: 2em;
  width: 100%;
}

.dots {
  position: absolute;
  left: -3.12%;
  right: 94.9%;
  top: 15%;
  bottom: 95.32%;
  z-index: -1;
  opacity: 0.8;
}

.services {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.cards {
  max-width: 85%;
  margin: 4em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-cards {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 1.5em;
  max-width: 350px;
  min-width: 320px;
  height: 350px;
  flex: 1 1 33%;
  background-color: #fff;
}

.testimonial {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 2em;
  color: #fff;
}

.testimonial-text p {
  max-width: 40ch;
}

.article {
  background: #ffffff;
  max-width: 350px;
  min-width: 320px;
  /* drop shadow */
  margin: 2em 0em;
  flex: 1;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin: 0em 1em;

  img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
}

.text-area {
  padding: 1em;
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.author-name {
  padding-left: 1em;
  text-align: start;
}

.author {
  display: flex;
  align-items: center;

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .name {
    font-size: 22px;
  }
}
.article-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-container {
  background-image: url("images/bg\ element.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.bg-container-reverse {
  background-image: url("images/Vector.png");
  background-repeat: no-repeat;
  background-position: right;
}

.section3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.section4 {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.text-area p {
  color: #7d7987;
}

@media (min-width: 500px) {
  .nav-link {
    margin-right: 2em;
    color: #1f1534;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
  .active {
    display: block;
  }

  .burger {
    display: none;
  }
}

@media (max-width: 650px) {
  .container,
  .nav,
  .section5 {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial h2 {
    font-size: 18px;
  }
}
